<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/socket.io.js"></script>
<script src="/assets/webathena/q.min.js"></script>
<script src="/assets/webathena/sjcl.js"></script>
<script src="/assets/webathena/winchan.js"></script>
<script src="/assets/webathena/webathena.js"></script>
<script src="/assets/webathena/gss.js"></script>
<script src="/assets/webathena/remctl.js"></script>
<script src="/assets/webathena-sql/core.js"></script>
