<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    {{ page.extra_head }}
  </head>
  <body>
    {% include navbar.html %}
    <div class="container clear-navbar">
      {{ content }}
    </div><!-- /.container -->
    {% include footer.html %}
    <!-- Placed at the end of the document so the pages load faster -->
    {% include common-scripts.html %}
    <script>
      document.getElementById("not-signed-in").addEventListener("click", function (e) {
          e.preventDefault();
          getTicket().then(function(session) {
              updateLoginControls();
          });
      });
      document.getElementById("log-out").addEventListener("click", function (e) {
          e.preventDefault();
          destroyCachedTicket();
          updateLoginControls();
      });
      updateLoginControls();
    </script>
  </body>
</html>
